.nav-container {
  color: black;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
}

.nav-container h2 {
  font-weight: bold;
  cursor: pointer;
}

.nav-user {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-user a,
.nav-user div {
  color: black;
  font-size: 24px;
  cursor: pointer;
}
