.user-container {
  max-width: 500px;
  margin: 200px auto;
}

.user-wrapper {
  background-color: white;
  box-shadow: 0px 0px 6px #ccc;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.user-container h2 {
  background-color: #eee;
  padding: 20px;
  font-weight: bold;
}

.user-container img {
  width: 100px;
}

.user-container a {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .user-container {
    margin: 200px 20px;
  }
}
