form {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.calendar {
  z-index: 100;
  position: fixed;
  right: 0;
  top: 15%;
}

.calendar-icon {
  margin-top: 10px;
  margin-left: -120px;
}

.todo {
  max-width: 100%;
}

.todo input {
  width: 95%;
  outline: none;
  padding-left: 20px;
}

.add-btn {
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  margin-left: -50px;
  font-weight: bold;
  font-size: 20px;
}

.add-btn:hover {
  background-color: gray;
}

@media screen and (max-width: 576px) {
  .todo input {
    width: 80%;
  }
}
